<body>
<p>
<%= image_tag @artwork.avatar.url %>
<%= image_tag @artwork.avatar.url(:medium) %>
<%= image_tag @artwork.avatar.url(:thumb) %>
</p>
</body>

asdfasdfasdfasfaf
'asigha wpu93y59th;fjg';sf ga

agag aj;ajs