<section id="slide3" data-width="1600" data-height="900">

	<div class="bcg"
        data-center="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -100px;"
        data-bottom-top="background-position: 50% 100px;"
        data-anchor-target="#slide3"
    >
        <div class="srContent"
                data-bottom-top="opacity: 0"
                data-25p-top="opacity: 0"
                data-top="opacity: 1" 
                data-anchor-target="#slide3"
            >
				<h1>Contact</h1>
					<body>
						<p>
							<address>
								<strong>Jewels Nocera</strong><br>
								<a href="mailto:#">first.last@example.com</a>
							</address>
						</p>
					</body>
		</div>
	</div>
</section>