<body>    
        <div class="slide row" id="slide1" data-slide="1">
           <%= render 'pages/slide1' %>        
        </div>
         
         
        <div class="slide row" id="slide2" data-slide="2">
			   <%= render 'pages/slide2' %>    	
         </div>
        
        <div class="slide row" id="slide3" data-slide="3">
        	   <%= render 'pages/slide3' %>    	
         </div>

</body>