// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---- main.scss ---- */

/* All Slides */

.slide {
    background-attachment: fixed;
    width:100%;
    min-height:100%;
    height:100%;
    position: relative;
    text-align:center;
    padding-top: 10%;
}


/* Slide 1 */

#slide1 .bcg {
background-color: black
    
}

 /* Slide 2 */
#slide2 .bcg {
background-color: purple
}
#slide2 .srContent {
    top: auto;
}




/* Slide 3 */
#slide3 .bcg {
    background-color: gray
}
#slide3 .srContent {
    
    top: auto;
}

