<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      

      <section class="middle tab-bar-section">
        <h1 class="title">Jewels Nocera</h1>
      </section>

      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Jewels Nocera</label></li>
        <li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true" data-slide="1" href="/pages/slide1">Home</a></li>
        <li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true" data-slide="2" href="/pages/slide2">About</a></li>
       </li><li><a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="true" data-slide="3" href="/pages/slide3">Contact</a></li><ul>
    </aside>

  <a class="exit-off-canvas"></a>
